*.sav
*.savx
Thumbs.db*
thumbs.db*
desktop.ini*
.DS_Store
/PGE/*
/PGE/tools/sox
!/PGE/update-pge*
!/PGE/configs
!/PGE/tools
*.exe
*.so
*.dylib
*.app
*.dll
thextech
logs/
screenshots/
gif-recordings/
settings/
launcher.ini
